body{
    background-image: url("https://user-images.githubusercontent.com/54577633/97136080-20e00a00-1778-11eb-85b5-d659d9adfa8d.png");
    background-repeat: repeat;
    background-size: auto;
    font-family: 'Grandstander', cursive;
    display: flex;
    justify-content: center;
    align-content: center;
}

p{
    margin-bottom: 30px;
}

input{
    display: block;
}

.hey{
    margin-bottom: 100px;
    font-size: 3em;
}

#main-div{
    margin: 10%;
    height: 20%;
    width: 40%;  
    border: 8px double gold;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.small{
    font-size: x-small;
}

#div-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#button{
    width: 150px;
    height: 40px;
    background-color: gold;
    border: 2px solid rgb(194, 165, 4);
    border-radius: 3px;
    margin: 20px;
    font-family: 'Grandstander', cursive;
}

#button:hover{
    border: 2px solid rgb(194, 165, 4);
    border-radius: 10px;
    display: inline;
    background-color: rgb(245, 226, 121);
    color: black;
    width: 160px;
    height: 45px;
    font-family: 'Grandstander', cursive;
    margin: 20px;
    padding: 10px;
}

input{
    margin: 20px;
    border-color: gold;
    height: 20px;
    border-radius: 5px;
    box-shadow: 3px 2px rgb(194, 192, 179);
    
}

.goButton{
    display: none;
    width: 150px;
    height: 40px;
    background-color: gold;
    border: 2px solid rgb(194, 165, 4);
    border-radius: 3px;
    margin: 20px;
    font-family: 'Grandstander', cursive;
}

/* .heart{
    position: absolute;
    margin: auto;
    height: 40px;
    width: 40px;
    top: 0;
    bottom: 0px;
    left: 0;
    right: 0px;
    background-color: crimson;
    transform: rotate(-45deg);
}

.heart::before{
    position: absolute;
    content: "";
    height: 40px;
    width: 40px;
    top: -25px;
    left: 0;
    background-color: crimson;
    border-radius: 47%;
}

.heart::after{
    position: absolute;
    content: "";
    height: 40px;
    width: 40px;
    left: 100px;
    top: 0px;
    left: 25px;
    background-color: crimson;
    border-radius: 47%;
}

#heart1{
    bottom: 650px;
    right: 1350px;
    animation-name: beat1;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

#heart2{
    top: 500px;
    right: 100px;
    animation-name: beat2;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

#heart3{
    bottom: 500px;
    left: 880px;;
    animation-name: beat3;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

#heart4{
    top: 200px;
    right: 1050px;
    animation-name: beat4;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

#heart5{
    top: 550px;
    left: 1250px;
    animation-name: beat5;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes beat1{
    0%{
        transform: scale(1) rotate(-45deg);
    }

    50%{
        transform: scale(1.5) rotate(-45deg);
    }
}

@keyframes beat2{
    0%{
        transform: scale(1) rotate(-45deg);
    }

    50%{
        transform: scale(1.3) rotate(-45deg);
    }
}

@keyframes beat3{
    0%{
        transform: scale(0.5) rotate(-45deg)
    }

    50%{
        transform: scale(1) rotate(-45deg);
    }
}

@keyframes beat4{
    0%{
        transform: scale(0.8) rotate(-45deg);
    }

    50%{
        transform: scale(1.2) rotate(-45deg);
    }
}

@keyframes beat5{
    0%{
        transform: scale(1.5) rotate(-45deg);
    }

    50%{
        transform: scale(2) rotate(-45deg);
    }
} */
