body{
    background-image: url("https://user-images.githubusercontent.com/54577633/97136080-20e00a00-1778-11eb-85b5-d659d9adfa8d.png");
    background-repeat: repeat;
    background-size: auto;
    font-family: 'Grandstander', cursive;
    display: flex;
    justify-content: center;
    align-content: center;
}

#main-div{
    margin: 10%;
    height: 300px;
    width: 40%;  
    border: 8px double gold;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

button{
    border: 2px solid rgb(194, 165, 4);
    border-radius: 10px;
    display: inline;
    background-color: gold;
    color: black;
    width: 150px;
    height: 40px;
    font-family: 'Grandstander', cursive;
    margin: 20px;
    padding: 5px;
}

button:hover{
    border: 2px solid rgb(194, 165, 4);
    border-radius: 10px;
    display: inline;
    background-color: rgb(245, 226, 121);
    color: black;
    width: 160px;
    height: 45px;
    font-family: 'Grandstander', cursive;
    margin: 20px;
    padding: 10px;
}