body{
    font-family: 'Comic Neue', cursive;
    background-color: rgb(243, 196, 138);
}

a{
    color: white;
    text-decoration: none;
    z-index: 3;
}

.main-div{
    margin: auto;
    margin-top: 10%;
    background-color: rgb(248, 228, 204);
    min-height: 80vh;
    width: 50vw;
    border-radius: 3%;
    padding: 30px;
}

#bear{
    position: relative;
}

.bear{
    position: absolute;
    background-color: chocolate;
}

.head{
    height: 70px;
    width: 90px;
    border-radius:45%;
}

.msg-div{
    margin: auto;
    margin-top: 10%;
    margin-bottom: 10%;
    background-color: rgb(248, 228, 204);
    min-height: 80vh;
    width: 50vw;
    border-radius: 3%;
    padding: 20px;
    display: flex;
    flex-direction: column;

}

.msg-btn{
    position: absolute;
    font-family: 'Grandstander';
    height: 30px;
    width: 80px;
    border-radius: 5px;
    background-color: rgb(243, 196, 138);
    border: none;
    box-shadow: 2px 2px rgb(122, 100, 72);
    align-self: flex-end;
    justify-self: start;
    cursor: pointer;
}

.msg{
    align-self: flex-start;
    justify-self: start;
    width: 80%;
}

.heart{
    position: absolute;
    margin: auto;
    height: 40px;
    width: 40px;
    top: 0;
    bottom: 0px;
    left: 0;
    right: 0px;
    background-color: crimson;
    transform: rotate(-45deg);
    cursor: pointer;
    z-index: 1;
    font-size: xx-small;
}

.heart::before{
    position: absolute;
    content: "";
    height: 40px;
    width: 40px;
    top: -25px;
    left: 0;
    background-color: crimson;
    border-radius: 47%;
    z-index: -1;
}

.heart::after{
    position: absolute;
    content: "";
    height: 40px;
    width: 40px;
    left: 100px;
    top: 0px;
    left: 25px;
    background-color: crimson;
    border-radius: 47%;
    z-index: -1;
}

#heart1{
    bottom: 650px;
    right: 1350px;
    animation-name: beat1;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}

#heart2{
    top: 3550px;
    right: 1350px;
    animation-name: beat2;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

#heart3{
    top: 4500px;
    left: 980px;;
    animation-name: beat3;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

#heart4{
    top: 1700px;
    right: 1250px;
    animation-name: beat4;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

#heart5{
    top: 550px;
    left: 1250px;
    animation-name: beat5;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}

#heart6{
    top: 2550px;
    left: 1250px;
    animation-name: beat6;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

#heart7{
    top: 0px;
    bottom: 350px;
    left: 1000px;
    right: 0px;
}

#heart8{
    top: 500px;
    bottom: 0px;
    left: 0px;
    right: 1250px;
}

#heart9{
    top: 1500px;
    bottom: 0px;
    left: 1050px;
    right: 0px;
}

#heart10{
    top: 3550px;
    bottom: 0px;
    left: 1100px;
    right: 0px;
}

#heart11{
    top: 4650px;
    bottom: 0px;
    left: 0px;
    right: 1000px;
}

#heart12{
    top: 2500px;
    bottom: 0px;
    left: 0px;
    right: 1200px;
}









@keyframes beat1{
    0%{
        transform: scale(1) rotate(-45deg);
    }

    50%{
        transform: scale(1.5) rotate(-45deg);
    }
}

@keyframes beat2{
    0%{
        transform: scale(1) rotate(-45deg);
    }

    50%{
        transform: scale(1.3) rotate(-45deg);
    }
}

@keyframes beat3{
    0%{
        transform: scale(0.5) rotate(-45deg)
    }

    50%{
        transform: scale(1) rotate(-45deg);
    }
}

@keyframes beat4{
    0%{
        transform: scale(0.8) rotate(-45deg);
    }

    50%{
        transform: scale(1.2) rotate(-45deg);
    }
}

@keyframes beat5{
    0%{
        transform: scale(1.5) rotate(-45deg);
    }

    50%{
        transform: scale(2) rotate(-45deg);
    }
}

@keyframes beat6{
    0%{
        transform: scale(0.7) rotate(-45deg);
    }

    50%{
        transform: scale(0.9) rotate(-45deg);
    }
}